{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="utf8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">

  <meta name="description" content="">

  <meta name="author" content="ThemeBucket">

  <title>知乎</title>

  <link rel="shortcut icon" href="#" type="image/png">

 <link rel="shortcut icon" href="#" type="image/png">

<!--icheck-->

<link href="{% static 'zhanshi/js/iCheck/skins/minimal/minimal.css'%}" rel="stylesheet" type="text/css">

<link href="{% static 'zhanshi/js/iCheck/skins/square/square.css'%}" rel="stylesheet" type="text/css">

<link href="{% static 'zhanshi/js/iCheck/skins/square/red.css'%}" rel="stylesheet" type="text/css">

<link href="{% static 'zhanshi/js/iCheck/skins/square/blue.css'%}" rel="stylesheet" type="text/css">

<!--dashboard calendar-->

<link href="{% static 'zhanshi/css/clndr.css'%}" rel="stylesheet" type="text/css">

<!--Morris Chart CSS -->

<link rel="stylesheet" href="{% static 'zhanshi/js/morris-chart/morris.css'%}" type="text/css">

<!--common-->

<link href="{% static 'zhanshi/css/style.css'%}" rel="stylesheet" type="text/css">

<link href="{% static 'zhanshi/css/style-responsive.css'%}" rel="stylesheet" type="text/css">

 <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

  <!--[if lt IE 9]>

  <script src="{% static 'zhanshi/js/html5shiv.js'%}"></script>

  <script src="{% static 'zhanshi/js/respond.min.js'%}"></script>

  <![endif]-->

</head>



<body class="horizontal-menu-page">



<section>



    <nav class="navbar navbar-default" role="navigation">

        <div class="container-fluid">

            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">

                    <span class="sr-only">Toggle navigation</span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                </button>

                <a class="navbar-brand" href="index.html">

                    <img src="{% static 'zhanshi/images/logo.png'%}" alt="">

                </a>

            </div>



            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">

 					<li ><a href="{% url 'index' %}">Home</a></li>  

                    <li ><a href="{% url 'activity' %}">Activity</a></li>      

					<li class="active"><a href="{% url 'topic' %}">Topic Distribution</a></li>  

					

                </ul>



                <ul class="nav navbar-nav navbar-right">

                    <li>

                        <form class="navbar-form navbar-left" role="search">

                            <div class="form-group">

                                <input type="text" class="form-control" placeholder="Search">

                            </div>

                        </form>

                    </li>  

                </ul>

            </div><!-- /.navbar-collapse -->

        </div><!-- /.container-fluid -->

    </nav>

        <!--body wrapper start-->

        <div class="wrapper">

		<h4>话题‘华为’的问题及回答分布情况</h4>

            <div class="row">

                <div class="col-md-12">

                    <!--statistics start-->

                    <div class="row state-overview">

                        <div class="col-md-3 col-xs-12 col-sm-6">

                            <div class="panel purple">

                                <div class="symbol">

                                    <i class="fa fa-gavel"></i>

                                </div>

                                <div class="state-value">

                                    <div class="value">62723</div>

                                    <div class="title">数据集</div>

                                </div>

                            </div>

                        </div>

                        <div class="col-md-3 col-xs-12 col-sm-6">

                            <div class="panel red">

                                <div class="symbol">

                                    <i class="fa fa-tags"></i>

                                </div>

                                <div class="state-value">

                                    <div class="value">10633</div>

                                    <div class="title">Question</div>

                                </div>

                            </div>

                        </div>

                        <div class="col-md-3 col-xs-12 col-sm-6">

                            <div class="panel blue">

                                <div class="symbol">

                                    <i class="fa fa-money"></i>

                                </div>

                                <div class="state-value">

                                    <div class="value">52090</div>

                                    <div class="title"> Answer</div>

                                </div>

                            </div>

                        </div>

                        <div class="col-md-3 col-xs-12 col-sm-6">

                            <div class="panel green">

                                <div class="symbol">

                                    <i class="fa fa-eye"></i>

                                </div>

                                <div class="state-value">

                                    <div class="value">55284</div>

                                    <div class="title">followers</div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <!--statistics end-->

                </div>

            </div>

           <div class="row" style="width:100%;margin:0 auto;">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row revenue-states">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <h4>Monthly revenue report</h4>
                                </div>      
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="clearfix">
                                        <div id="main-chart-legend" class="pull-right">
                                        </div>
                                    </div>

                                    <div id="main-chart">
                                        <div id="topic_distribution" class="main-chart" style="height:500px;">
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row revenue-states">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <h4>词云</h4>
                                </div>      
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="clearfix">
                                        <div id="main-chart-legend" class="pull-right">
                                        </div>
                                    </div>

                                    <div id="main-chart">
                                        <div id="word_cloud" class="main-chart">
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!--body wrapper end-->



        <!--footer section start-->

        <footer>

            2014 &copy; AdminEx by ThemeBucket

        </footer>

        <!--footer section end-->





    </div>

    <!-- main content end-->

</section>



<!-- Placed js at the end of the document so the pages load faster -->

<script src="{% static 'zhanshi/js/jquery-1.10.2.min.js'%}"></script>

<script src="{% static 'zhanshi/js/jquery-ui-1.9.2.custom.min.js'%}"></script>

<script src="{% static 'zhanshi/js/jquery-migrate-1.2.1.min.js'%}"></script>

<script src="{% static 'zhanshi/js/bootstrap.min.js'%}"></script>

<script src="{% static 'zhanshi/js/modernizr.min.js'%}"></script>

<script src="{% static 'zhanshi/js/jquery.nicescroll.js'%}"></script>



<!--easy pie chart-->

<script src="{% static 'zhanshi/js/easypiechart/jquery.easypiechart.js'%}"></script>

<script src="{% static 'zhanshi/js/easypiechart/easypiechart-init.js'%}"></script>



<!--Sparkline Chart-->

<script src="{% static 'zhanshi/js/sparkline/jquery.sparkline.js'%}"></script>

<script src="{% static 'zhanshi/js/sparkline/sparkline-init.js'%}"></script>



<!--icheck -->

<script src="{% static 'zhanshi/js/iCheck/jquery.icheck.js'%}"></script>

<script src="{% static 'zhanshi/js/icheck-init.js'%}"></script>



<!-- jQuery Flot Chart-->

<script src="{% static 'zhanshi/js/flot-chart/jquery.flot.js'%}"></script>

<script src="{% static 'zhanshi/js/flot-chart/jquery.flot.tooltip.js'%}"></script>

<script src="{% static 'zhanshi/js/flot-chart/jquery.flot.resize.js'%}"></script>


<script src="{% static 'zhanshi/js/wordcloud2.js'%}"></script>



<script src="{% static 'zhanshi/js/echarts.min.js'%}"></script>


<!--Morris Chart-->

<script src="{% static 'zhanshi/js/morris-chart/morris.js'%}"></script>

<script src="{% static 'zhanshi/js/morris-chart/raphael-min.js'%}"></script>



<!--Calendar-->

<script src="{% static 'zhanshi/js/calendar/clndr.js'%}"></script>

<script src="{% static 'zhanshi/js/calendar/evnt.calendar.init.js'%}"></script>

<script src="{% static 'zhanshi/js/calendar/moment-2.2.1.js'%}"></script>

<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>



<!--common scripts for all pages-->

<script src="{% static 'zhanshi/js/scripts.js'%}"></script>



<!--Dashboard Charts-->

<script src="{% static 'zhanshi/js/dashboard-chart-init.js'%}"></script>
<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
var myChart = echarts.init(document.getElementById('topic_distribution'));
option = {
   
    title: {
        text: "知乎话题‘华为’的主题分布",
        subtext: "By LInda",
        top: "top",
        left: "center"
    },
    tooltip: {},
    legend: [{
        formatter: function(name) {
            return echarts.format.truncateText(name, 40, '14px Microsoft Yahei', '…');
        },
        tooltip: {
            show: true
        },
        selectedMode: 'false',
        bottom: 20,
        data: ['Topic1', 'Topic2', 'Topic3', 'Topic4', 'Topic5', 'Topic6', 'Topic7', 'Topic8', 'Topic9', 'Topic10','其他']
    }],
    toolbox: {
        show: true,
        feature: {
            dataView: {
                show: true,
                readOnly: true
            },
            restore: {
                show: true
            },
            saveAsImage: {
                show: true
            }
        }
    },
    animationDuration: 3000,
    animationEasingUpdate: 'quinticInOut',
    series: [{
        name: '华为潜在主题',
        type: 'graph',
        layout: 'force',

        force: {
            repulsion: 300
        },
        data: [{
            "name": "话题”华为“",
            // "x": 0,
            // y: 0,
            "symbolSize": 120,
            "draggable": "true",
            "value": 100

        },{
            "name": "其他",
            "value": 7.65,
            "symbolSize": 100,
            "category": "其他",
            "draggable": "true"
        },{
            "name": "Topic1",
            "value": 2.06,
            "symbolSize": 100,
            "category": "Topic1",
            "draggable": "true"
        }, {
            "name": "专利",
            "symbolSize": 40,
            "category": "Topic1",
            "draggable": "true",
            "value": 0.087
        }, {
            "name": "中兴",
            "symbolSize": 30,
            "category": "Topic1",
            "draggable": "true",
            "value": 0.032
        }, {
            "name": "知识产权",
            "symbolSize": 20,
            "category": "Topic1",
            "draggable": "true",
            "value": 0.017
        }, {
            "name": "中国_topic1",
            "symbolSize": 10,
            "category": "Topic1",
            "draggable": "true",
            "value": 0.016
        }, {
            "name": "公司_topic1",
            "symbolSize": 8,
            "category": "Topic1",
            "draggable": "true",
            "value": 0.015
        }, {
            "name": "Topic2",
            "value": 11.7,
            "symbolSize": 100,
            "category": "Topic2",
            "draggable": "true"
        }, {
            "name": "手机_topic2",
            "symbolSize": 40,
            "category": "Topic2",
            "draggable": "true",
            "value": 0.040
        }, {
            "name": "荣耀",
            "symbolSize": 30,
            "category": "Topic2",
            "draggable": "true",
            "value": 0.031
        }, {
            "name": "屏幕",
            "symbolSize": 20,
            "category": "Topic2",
            "draggable": "true",
            "value": 0.030
        }, {
            "name": "华为_topic2",
            "symbolSize": 10,
            "category": "Topic2",
            "draggable": "true",
            "value": 0.025
        }, {
            "name": "系统_topic2",
            "symbolSize": 8,
            "category": "Topic2",
            "draggable": "true",
            "value": 0.019

        }, {
            "name": "功能",
            "symbolSize": 8,
            "category": "Topic2",
            "draggable": "true",
            "value": 0.015

        }, {
            "name": "Topic3",
            "value": 28.8,
            "symbolSize": 100,
            "category": "Topic3",
            "draggable": "true"
        }, {
            "name": "手机_topic3",
            "symbolSize": 40,
            "category": "Topic3",
            "draggable": "true",
            "value": 0.119
        }, {
            "name": "华为_topic3",
            "symbolSize": 30,
            "category": "Topic3",
            "draggable": "true",
            "value": 0.044
        }, {
            "name": "苹果",
            "symbolSize": 20,
            "category": "Topic3",
            "draggable": "true",
            "value": 0.036
        }, {
            "name": "三星",
            "symbolSize": 10,
            "category": "Topic3",
            "draggable": "true",
            "value": 0.022
        }, {
            "name": "魅族",
            "symbolSize": 8,
            "category": "Topic3",
            "draggable": "true",
            "value": 0.014
        }, {
            "name": "Topic4",
            "value": 4.9,
            "symbolSize": 100,
            "category": "Topic4",
            "draggable": "true"
        }, {
            "name": "中国_topic4",
            "symbolSize": 40,
            "category": "Topic4",
            "draggable": "true",
            "value": 0.039
        }, {
            "name": "美国",
            "symbolSize": 30,
            "category": "Topic4",
            "draggable": "true",
            "value": 0.026
        }, {
            "name": "深圳",
            "symbolSize": 20,
            "category": "Topic4",
            "draggable": "true",
            "value": 0.020
        }, {
            "name": "社会",
            "symbolSize": 10,
            "category": "Topic4",
            "draggable": "true",
            "value": 0.017
        }, {
            "name": "企业_topic4",
            "symbolSize": 8,
            "category": "Topic4",
            "draggable": "true",
            "value": 0.017

        }, {
            "name": "Topic5",
            "value": 19.1,
            "symbolSize": 100,
            "category": "Topic5",
            "draggable": "true"
        }, {
            "name": "华为_topic5",
            "symbolSize": 40,
            "category": "Topic5",
            "draggable": "true",
            "value": 0.068
        }, {
            "name": "公司_topic5",
            "symbolSize": 30,
            "category": "Topic5",
            "draggable": "true",
            "value": 0.037
        }, {
            "name": "员工_topic5",
            "symbolSize": 20,
            "category": "Topic5",
            "draggable": "true",
            "value": 0.033
        }, {
            "name": "工作",
            "symbolSize": 10,
            "category": "Topic5",
            "draggable": "true",
            "value": 0.030
        }, {
            "name": "企业_topic5",
            "symbolSize": 10,
            "category": "Topic5",
            "draggable": "true",
            "value": 0.014
        }, {
            "name": "部门",
            "symbolSize": 10,
            "category": "Topic5",
            "draggable": "true",
            "value": 0.010
        }, {
            "name": "领导_topic5",
            "symbolSize": 10,
            "category": "Topic5",
            "draggable": "true",
            "value": 0.007
        }, {
            "name": "工资",
            "symbolSize": 10,
            "category": "Topic5",
            "draggable": "true",
            "value": 0.007
        }, {
            "name": "岗位",
            "symbolSize": 8,
            "category": "Topic5",
            "draggable": "true",
            "value": 0.006
        }, {
            "name": "Topic6",
            "value": 5.9,
            "symbolSize": 100,
            "category": "Topic6",
            "draggable": "true"
        }, {
            "name": "摄像头",
            "symbolSize": 40,
            "category": "Topic6",
            "draggable": "true",
            "value": 0.039
        }, {
            "name": "照片",
            "symbolSize": 30,
            "category": "Topic6",
            "draggable": "true",
            "value": 0.030
        }, {
            "name": "镜头",
            "symbolSize": 20,
            "category": "Topic6",
            "draggable": "true",
            "value": 0.030
        }, {
            "name": "模式",
            "symbolSize": 10,
            "category": "Topic6",
            "draggable": "true",
            "value": 0.027
        }, {
            "name": "像素",
            "symbolSize": 8,
            "category": "Topic6",
            "draggable": "true",
            "value": 0.027
        }, {
            "name": "色彩",
            "symbolSize": 8,
            "category": "Topic6",
            "draggable": "true",
            "value": 0.015
        }, {
            "name": "Topic7",
            "value": 2.7,
            "symbolSize": 100,
            "category": "Topic7",
            "draggable": "true"
        }, {
            "name": "网络",
            "symbolSize": 40,
            "category": "Topic7",
            "draggable": "true",
            "value": 0.039
        }, {
            "name": "技术",
            "symbolSize": 30,
            "category": "Topic7",
            "draggable": "true",
            "value": 0.029
        }, {
            "name": "设备",
            "symbolSize": 20,
            "category": "Topic7",
            "draggable": "true",
            "value": 0.024
        }, {
            "name": "系统_topic7",
            "symbolSize": 10,
            "category": "Topic7",
            "draggable": "true",
            "value": 0.014
        }, {
            "name": "基站",
            "symbolSize": 8,
            "category": "Topic7",
            "draggable": "true",
            "value": 0.009
        }, {
            "name": "Topic8",
            "value": 7.0,
            "symbolSize": 100,
            "category": "Topic8",
            "draggable": "true"
        }, {
            "name": "华为_topic8",
            "symbolSize": 40,
            "category": "Topic8",
            "draggable": "true",
            "value": 0.097
        }, {
            "name": "中国_topic8",
            "symbolSize": 30,
            "category": "Topic8",
            "draggable": "true",
            "value": 0.024
        }, {
            "name": "企业_topic8",
            "symbolSize": 20,
            "category": "Topic8",
            "draggable": "true",
            "value": 0.023
        }, {
            "name": "思科",
            "symbolSize": 10,
            "category": "Topic8",
            "draggable": "true",
            "value": 0.023
        }, {
            "name": "利润",
            "symbolSize": 8,
            "category": "Topic8",
            "draggable": "true",
            "value": 0.010
        }, {
            "name": "互联网",
            "symbolSize": 8,
            "category": "Topic8",
            "draggable": "true",
            "value": 0.008
        }, {
            "name": "Topic9",
            "value": 6.1,
            "symbolSize": 100,
            "category": "Topic9",
            "draggable": "true"
        }, {
            "name": "华为_topic9",
            "symbolSize": 40,
            "category": "Topic9",
            "draggable": "true",
            "value": 0.136
        }, {
            "name": "员工_topic9",
            "symbolSize": 30,
            "category": "Topic9",
            "draggable": "true",
            "value": 0.038
        }, {
            "name": "公司_topic9",
            "symbolSize": 20,
            "category": "Topic9",
            "draggable": "true",
            "value": 0.024
        }, {
            "name": "裁员",
            "symbolSize": 10,
            "category": "Topic9",
            "draggable": "true",
            "value": 0.023
        }, {
            "name": "政策",
            "symbolSize": 8,
            "category": "Topic9",
            "draggable": "true",
            "value": 0.016
        }, {
            "name": "领导_topic9",
            "symbolSize": 8,
            "category": "Topic9",
            "draggable": "true",
            "value": 0.011
        }, {
            "name": "Topic10",
            "value": 4.2,
            "symbolSize": 100,
            "category": "Topic10",
            "draggable": "true"
        }, {
            "name": "芯片",
            "symbolSize": 40,
            "category": "Topic10",
            "draggable": "true",
            "value": 0.048
        }, {
            "name": "性能",
            "symbolSize": 30,
            "category": "Topic10",
            "draggable": "true",
            "value": 0.047
        }, {
            "name": "麒麟",
            "symbolSize": 20,
            "category": "Topic10",
            "draggable": "true",
            "value": 0.044
        }, {
            "name": "高通",
            "symbolSize": 10,
            "category": "Topic10",
            "draggable": "true",
            "value": 0.040
        }, {
            "name": "海思",
            "symbolSize": 8,
            "category": "Topic10",
            "draggable": "true",
            "value": 0.035
        }, {
            "name": "处理器",
            "symbolSize": 8,
            "category": "Topic10",
            "draggable": "true",
            "value": 0.027
        }],
        links: [{
            "source": "话题”华为“",
            "target": "Topic1"
        }, {
            "source": "Topic1",
            "target": "专利"
        }, {
            "source": "Topic1",
            "target": "中兴"
        }, {
            "source": "Topic1",
            "target": "知识产权"
        }, {
            "source": "Topic1",
            "target": "中国_topic1"
        }, {
            "source": "Topic1",
            "target": "公司_topic1"
        }, {
            "source": "话题”华为“",
            "target": "Topic2"
        }, {
            "source": "Topic2",
            "target": "手机_topic2"
        }, {
            "source": "Topic2",
            "target": "荣耀"
        }, {
            "source": "Topic2",
            "target": "屏幕"
        }, {
            "source": "Topic2",
            "target": "华为_topic2"
        }, {
            "source": "Topic2",
            "target": "系统_topic2"

        }, {
            "source": "Topic2",
            "target": "功能"

        }, {
            "source": "话题”华为“",
            "target": "Topic3"
        }, {
            "source": "Topic3",
            "target": "手机_topic3"
        }, {
            "source": "Topic3",
            "target": "华为_topic3"
        }, {
            "source": "Topic3",
            "target": "苹果"
        }, {
            "source": "Topic3",
            "target": "三星"
        }, {
            "source": "Topic3",
            "target": "魅族"
        }, {
            "source": "话题”华为“",
            "target": "Topic4"
        }, {
            "source": "Topic4",
            "target": "中国_topic4"
        }, {
            "source": "Topic4",
            "target": "美国"
        }, {
            "source": "Topic4",
            "target": "深圳"
        }, {
            "source": "Topic4",
            "target": "社会"
        }, {
            "source": "Topic4",
            "target": "企业_topic4"
        }, {
            "source": "话题”华为“",
            "target": "Topic5"
        }, {
            "source": "Topic5",
            "target": "华为_topic5"
        }, {
            "source": "Topic5",
            "target": "公司_topic5"
        }, {
            "source": "Topic5",
            "target": "员工_topic5"
        }, {
            "source": "Topic5",
            "target": "工作"
        }, {
            "source": "Topic5",
            "target": "企业_topic5"
        }, {
            "source": "Topic5",
            "target": "部门"
        }, {
            "source": "Topic5",
            "target": "领导_topic5"
        }, {
            "source": "Topic5",
            "target": "工资"
        }, {
            "source": "Topic5",
            "target": "岗位"
        }, {
            "source": "话题”华为“",
            "target": "Topic6"
        }, {
            "source": "Topic6",
            "target": "摄像头"
        }, {
            "source": "Topic6",
            "target": "照片"
        }, {
            "source": "Topic6",
            "target": "镜头"
        }, {
            "source": "Topic6",
            "target": "模式"
        }, {
            "source": "Topic6",
            "target": "像素"
        }, {
            "source": "Topic6",
            "target": "色彩"
        }, {
            "source": "话题”华为“",
            "target": "Topic7"
        }, {
            "source": "Topic7",
            "target": "网络"
        }, {
            "source": "Topic7",
            "target": "技术"
        }, {
            "source": "Topic7",
            "target": "设备"
        }, {
            "source": "Topic7",
            "target": "系统_topic7"
        }, {
            "source": "Topic7",
            "target": "基站"
        }, {
            "source": "话题”华为“",
            "target": "Topic8"
        }, {
            "source": "Topic8",
            "target": "华为_topic8"
        }, {
            "source": "Topic8",
            "target": "中国_topic8"
        }, {
            "source": "Topic8",
            "target": "企业_topic8"
        }, {
            "source": "Topic8",
            "target": "思科"
        }, {
            "source": "Topic8",
            "target": "利润"
        }, {
            "source": "Topic8",
            "target": "互联网"
        }, {
            "source": "话题”华为“",
            "target": "Topic9"
        }, {
            "source": "Topic9",
            "target": "华为_topic9"
        }, {
            "source": "Topic9",
            "target": "员工_topic9"
        }, {
            "source": "Topic9",
            "target": "公司_topic9"
        }, {
            "source": "Topic9",
            "target": "裁员"
        }, {
            "source": "Topic9",
            "target": "政策"
        }, {
            "source": "Topic9",
            "target": "领导_topic9"
        }, {
            "source": "话题”华为“",
            "target": "Topic10"
        }, {
            "source": "Topic10",
            "target": "芯片"
        }, {
            "source": "Topic10",
            "target": "性能"
        }, {
            "source": "Topic10",
            "target": "麒麟"
        }, {
            "source": "Topic10",
            "target": "高通"
        }, {
            "source": "Topic10",
            "target": "海思"
        }, {
            "source": "Topic10",
            "target": "处理器"
        },{
            "source": "话题”华为“",
            "target": "其他"
        }],
        categories: [{
            'name': 'Topic1'
        }, {
            'name': 'Topic2'
        }, {
            'name': 'Topic3'
        }, {
            'name': 'Topic4'
        }, {
            'name': 'Topic5'
        }, {
            'name': 'Topic6'
        }, {
            'name': 'Topic7'
        }, {
            'name': 'Topic8'
        }, {
            'name': 'Topic9'
        }, {
            'name': 'Topic10'
        },{'name':'其他',}],
        focusNodeAdjacency: true,
        roam: true,
        label: {
            normal: {

                show: true,
                position: 'top',

            }
        },
        lineStyle: {
            normal: {
                color: 'source',
                curveness: 0,
                type: "solid"
            }
        }
    }]
};
myChart.setOption(option);
</script>
<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
WordCloud(document.getElementById('word_cloud')
option = {
    title: {
        text: '’华为‘话题词云',
        x: 'center',
        textStyle: {
            fontSize: 30
        }

    },
    backgroundColor: '#F7F7F7',
    tooltip: {
        show: true
    },
    toolbox: {
        feature: {
            saveAsImage: {
                iconStyle: {
                    normal: {
                        color: '#FFFFFF'
                    }
                }
            }
        }
    },
    series: [{
        name: '热点分析',
        type: 'wordCloud',
        //size: ['9%', '99%'],
        sizeRange: [10, 100],
        textRotation: [0, 45, 90, -45],
        rotationRange: [-100,200 ],
        shape: 'circle',
        textPadding: 0,
        autoSize: {
            enable: true,
            minSize: 6
        },
        textStyle: {
            normal: {
                color: function() {
                    return 'rgb(' + [
                        Math.round(Math.random() * 160),
                        Math.round(Math.random() * 160),
                        Math.round(Math.random() * 160)
                    ].join(',') + ')';
                }
            },
            emphasis: {
                shadowBlur: 10,
                shadowColor: '#333'
            }
        },
        data: []
    }]
};

var JosnList = [];

JosnList.push({
    name: "华为",
    value: "84949"
}, {
    name: "手机",
    value: "40386"
}, {
    name: "小米",
    value: "22449"
}, {
    name: "公司",
    value: "13384"
}, {
    name: "荣耀",
    value: "12225"
}, {
    name: "三星",
    value: "9868"
}, {
    name: "苹果",
    value: "8864"
}, {
    name: "产品",
    value: "8309"
}, {
    name: "员工",
    value: "8260"
}, {
    name: "工作",
    value: "7667"
}, {
    name: "企业",
    value: "7638"
}, {
    name: "用户",
    value: "7196"
}, {
    name: "系统",
    value: "6895"
}, {
    name: "技术",
    value: "6697"
}, {
    name: "市场",
    value: "6650"
}, {
    name: "中国",
    value: "6186"
}, {
    name: "屏幕",
    value: "5741"
}, {
    name: "品牌",
    value: "5500"
}, {
    name: "魅族",
    value: "5059"
}, {
    name: "喜欢",
    value: "4981"
}, {
    name: "价格",
    value: "4855"
},  {
    name: "性能",
    value: "4618"
}, {
    name: "国内",
    value: "4600"
}, {
    name: "功能",
    value: "4572"
}, {
    name: "研发",
    value: "4470"
}, {
    name: "设计",
    value: "4442"
}, {
    name: "体验",
    value: "4435"
}, {
    name: "厂商",
    value: "4272"
}, {
    name: "硬件",
    value: "4059"
}, {
    name: "时间",
    value: "4014"
}, {
    name: "发展",
    value: "3938"
}, {
    name: "支持",
    value: "3887"
}, {
    name: "系列",
    value: "3776"
}, {
    name: "软件",
    value: "3749"
}, {
    name: "配置",
    value: "3536"
}, {
    name: "行业",
    value: "3464"
}, {
    name: "拍照",
    value: "3441"
},  {
    name: "性价比",
    value: "3296"
}, {
    name: "高端",
    value: "3222"
}, {
    name: "消费者",
    value: "3118"
}, {
    name: "麒麟",
    value: "3003"
}, {
    name: "能力",
    value: "2943"
}, {
    name: "芯片",
    value: "2940"
}, {
    name: "希望",
    value: "2931"
}, {
    name: "加班",
    value: "2870"
}, {
    name: "高通",
    value: "2764"
},  {
    name: "电池",
    value: "2713"
}, {
    name: "推荐",
    value: "2699"
}, {
    name: "发布",
    value: "2695"
}, {
    name: "营销",
    value: "2645"
}, {
    name: "部门",
    value: "2641"
}, {
    name: "业务",
    value: "2637"
}, {
    name: "摄像头",
    value: "2580"
}, {
    name: "续航",
    value: "2555"
}, {
    name: "销量",
    value: "2507"
}, {
    name: "模式",
    value: "2501"
}, {
    name: "内存",
    value: "2499"
}, {
    name: "安卓",
    value: "2485"
}, {
    name: "质量",
    value: "2454"
}, {
    name: "外观",
    value: "2401"
}, {
    name: "处理器",
    value: "2393"
}, {
    name: "通信",
    value: "2383"
}, {
    name: "专利",
    value: "2375"
}, {
    name: "数据",
    value: "2364"
}, {
    name: "成本",
    value: "2364"
}, {
    name: "国产",
    value: "2360"
}, {
    name: "旗舰",
    value: "2359"
}, {
    name: "未来",
    value: "2337"
}, {
    name: "影响",
    value: "2332"
}, {
    name: "水军",
    value: "2305"
}, {
    name: "互联网",
    value: "2284"
}, {
    name: "网络",
    value: "2262"
}, {
    name: "第一",
    value: "2235"
}, {
    name: "评价",
    value: "2206"
}, {
    name: "销售",
    value: "2201"
}, {
    name: "世界",
    value: "2159"
}, {
    name: "成功",
    value: "2144"
}, {
    name: "提升",
    value: "2143"
}, {
    name: "建议",
    value: "2117"
}, {
    name: "海军",
    value: "2106"
}, {
    name: "优势",
    value: "2085"
}, {
    name: "任正非",
    value: "2042"
}, {
    name: "内部",
    value: "2009"
},  {
    name: "服务",
    value: "1990"
}, {
    name: "利润",
    value: "1976"
}, {
    name: "中兴",
    value: "1968"
}, {
    name: "科技",
    value: "1923"
}, {
    name: "需求",
    value: "1917"
}, {
    name: "海思",
    value: "1895"
}, {
    name: "专业",
    value: "1895"
}, {
    name: "红米",
    value: "1893"
}, {
    name: "简单",
    value: "1876"
}, {
    name: "广告",
    value: "1861"
}, {
    name: "设备",
    value: "1848"
}, {
    name: "客户",
    value: "1845"
}, {
    name: "更好",
    value: "1841"
}, {
    name: "国家",
    value: "1840"
}, {
    name: "领导",
    value: "1830"
}, {
    name: "流畅",
    value: "1829"
}, {
    name: "充电",
    value: "1826"
}, {
    name: "全球",
    value: "1802"
}, {
    name: "岗位",
    value: "1788"
}, {
    name: "联想",
    value: "1774"
}, {
    name: "版本",
    value: "1768"
}, {
    name: "运营商",
    value: "1765"
}, {
    name: "机型",
    value: "1757"
}, {
    name: "指纹",
    value: "1755"
}, {
    name: "管理",
    value: "1755"
}, {
    name: "朋友",
    value: "1753"
}, {
    name: "工资",
    value: "1752"
}, {
    name: "优秀",
    value: "1750"
}, {
    name: "海外",
    value: "1744"
},  {
    name: "升级",
    value: "1737"
}, {
    name: "信号",
    value: "1727"
}, {
    name: "水平",
    value: "1720"
}, {
    name: "深圳",
    value: "1711"
},  {
    name: "收入",
    value: "1676"
}, {
    name: "游戏",
    value: "1673"
}, {
    name: "核心",
    value: "1663"
}, {
    name: "终端",
    value: "1662"
},  {
    name: "生活",
    value: "1649"
},  {
    name: "测试",
    value: "1623"
}, {
    name: "效果",
    value: "1620"
}, {
    name: "解决",
    value: "1612"
}, {
    name: "速度",
    value: "1608"
}, {
    name: "美国",
    value: "1604"
}, {
    name: "宣传",
    value: "1587"
}, {
    name: "领域",
    value: "1580"
}, {
    name: "学习",
    value: "1567"
}, {
    name: "开发",
    value: "1557"
}, {
    name: "老板",
    value: "1549"
}, {
    name: "差距",
    value: "1544"
}, {
    name: "时代",
    value: "1537"
}, {
    name: "关系",
    value: "1531"
}, {
    name: "机会",
    value: "1516"
}, {
    name: "实在",
    value: "1505"
}, {
    name: "视频",
    value: "1501"
},  {
    name: "面试",
    value: "1494"
}, {
    name: "照片",
    value: "1476"
}, {
    name: "利益",
    value: "1467"
}, {
    name: "关注",
    value: "1459"
}, {
    name: "超过",
    value: "1458"
},{
    name: "网上",
    value: "1451"
}, {
    name: "标准",
    value: "1448"
}, {
    name: "购买",
    value: "1441"
}, {
    name: "相机",
    value: "1430"
}, {
    name: "值得",
    value: "1426"
}, {
    name: "同事",
    value: "1424"
}, {
    name: "文化",
    value: "1422"
}, {
    name: "电信",
    value: "1419"
}, {
    name: "便宜",
    value: "1411"
}, {
    name: "好看",
    value: "1403"
}, {
    name: "同学",
    value: "1402"
}, {
    name: "定位",
    value: "1400"
}, {
    name: "国产手机",
    value: "1372"
}, {
    name: "理解",
    value: "1369"
}, {
    name: "创新",
    value: "1366"
}, {
    name: "裁员",
    value: "1366"
}, {
    name: "采用",
    value: "1365"
}, {
    name: "信息",
    value: "1365"
}, {
    name: "毕业",
    value: "1358"
}, {
    name: "项目",
    value: "1353"
}, {
    name: "爱国",
    value: "1348"
}, {
    name: "优化",
    value: "1320"
}, {
    name: "工程师",
    value: "1319"
},  {
    name: "国外",
    value: "1309"
}, {
    name: "智能手机",
    value: "1307"
}, {
    name: "花粉",
    value: "1304"
}, {
    name: "小时",
    value: "1291"
}, {
    name: "发布会",
    value: "1273"
}, {
    name: "骁龙",
    value: "1273"
}, {
    name: "机器",
    value: "1268"
}, {
    name: "显示",
    value: "1267"
}, {
    name: "导致",
    value: "1262"
}, {
    name: "努力",
    value: "1255"
}, {
    name: "上市",
    value: "1248"
}, {
    name: "官方",
    value: "1240"
}, {
    name: "微信",
    value: "1230"
}, {
    name: "智能",
    value: "1217"
}, {
    name: "渠道",
    value: "1214"
}, {
    name: "索尼",
    value: "1211"
},  {
    name: "玻璃",
    value: "1206"
}, {
    name: "诺基亚",
    value: "1205"
}, {
    name: "入手",
    value: "1202"
}, {
    name: "参数",
    value: "1188"
}, {
    name: "控制",
    value: "1186"
}, {
    name: "竞争",
    value: "1186"
}, {
    name: "表现",
    value: "1182"
}, {
    name: "方式",
    value: "1181"
}, {
    name: "代表",
    value: "1179"
}, {
    name: "社会",
    value: "1173"
}, {
    name: "价位",
    value: "1173"
}, {
    name: "方向",
    value: "1172"
}, {
    name: "价值",
    value: "1169"
}, {
    name: "设置",
    value: "1163"
}, {
    name: "奋斗",
    value: "1148"
}, {
    name: "基带",
    value: "1144"
}, {
    name: "发热",
    value: "1137"
}, {
    name: "新闻",
    value: "1134"
}, {
    name: "压力",
    value: "1132"
}, {
    name: "锤子",
    value: "1129"
}, {
    name: "垃圾",
    value: "1127"
}, {
    name: "稳定",
    value: "1125"
}, {
    name: "增长",
    value: "1117"
}, {
    name: "镜头",
    value: "1111"
},  {
    name: "售后",
    value: "1109"
}, {
    name: "线下",
    value: "1104"
},  {
    name: "程度",
    value: "1077"
}, {
    name: "依然",
    value: "1075"
}, {
    name: "环境",
    value: "1074"
},  {
    name: "目标",
    value: "1061"
}, {
    name: "机子",
    value: "1059"
}, {
    name: "合作",
    value: "1054"
}, {
    name: "虚拟",
    value: "1039"
}, {
    name: "乐视",
    value: "1036"
}, {
    name: "电脑",
    value: "1026"
}, {
    name: "自然",
    value: "1026"
}, {
    name: "讨论",
    value: "1020"
}, {
    name: "平台",
    value: "1018"
}, {
    name: "做工",
    value: "1016"
}, {
    name: "米粉",
    value: "1015"
}, {
    name: "离职",
    value: "1011"
}, {
    name: "学生",
    value: "1009"
}, {
    name: "电话",
    value: "1007"
}, {
    name: "实力",
    value: "1006"
}, {
    name: "城市",
    value: "1003"
}, {
    name: "大神",
    value: "998"
}, {
    name: "研究",
    value: "991"
}, {
    name: "像素",
    value: "990"
}, {
    name: "投入",
    value: "990"
}, {
    name: "打开",
    value: "985"
}, {
    name: "缺点",
    value: "981"
}, {
    name: "足够",
    value: "976"
}, {
    name: "生产",
    value: "971"
}, {
    name: "低端",
    value: "970"
}, {
    name: "定价",
    value: "965"
}, {
    name: "指纹识别",
    value: "965"
}, {
    name: "办法",
    value: "959"
}, {
    name: "工艺",
    value: "958"
}, {
    name: "颜值",
    value: "955"
}, {
    name: "媒体",
    value: "952"
}, {
    name: "团队",
    value: "949"
}, {
    name: "国际",
    value: "946"
}, {
    name: "解锁",
    value: "945"
}, {
    name: "玩游戏",
    value: "944"
}, {
    name: "百度",
    value: "941"
}, {
    name: "待遇",
    value: "939"
}, {
    name: "人员",
    value: "938"
},  {
    name: "微博",
    value: "932"
}, {
    name: "厉害",
    value: "929"
}, {
    name: "机身",
    value: "927"
}, {
    name: "基础",
    value: "918"
}, {
    name: "售价",
    value: "915"
}, {
    name: "厂家",
    value: "911"
},  {
    name: "华为公司",
    value: "904"
}, {
    name: "习惯",
    value: "899"
}, {
    name: "边框",
    value: "898"
}, {
    name: "政策",
    value: "895"
},  {
    name: "追求",
    value: "885"
}, {
    name: "唯一",
    value: "882"
}, {
    name: "意义",
    value: "879"
}, {
    name: "情怀",
    value: "879"
}, {
    name: "整体",
    value: "875"
}, {
    name: "买手机",
    value: "871"
}, {
    name: "超越",
    value: "871"
}, {
    name: "长期",
    value: "870"
}, {
    name: "关键",
    value: "868"
}, {
    name: "自动",
    value: "867"
}, {
    name: "过程",
    value: "863"
}, {
    name: "架构",
    value: "860"
},  {
    name: "人才",
    value: "857"
},  {
    name: "文章",
    value: "849"
},  {
    name: "赚钱",
    value: "840"
}, {
    name: "纠结",
    value: "837"
}, {
    name: "网通",
    value: "830"
}, {
    name: "商务",
    value: "830"
}, {
    name: "方案",
    value: "829"
}, {
    name: "无线",
    value: "822"
}, {
    name: "打电话",
    value: "819"
}, {
    name: "细节",
    value: "816"
}, {
    name: "招聘",
    value: "815"
}, {
    name: "真心",
    value: "815"
}, {
    name: "事件",
    value: "813"
}, {
    name: "图片",
    value: "813"
}, {
    name: "强大",
    value: "813"
}, {
    name: "思科",
    value: "813"
}, {
    name: "操作",
    value: "812"
}, {
    name: "改变",
    value: "807"
}, {
    name: "经济",
    value: "807"
}, {
    name: "最新",
    value: "802"
},{
    name: "空间",
    value: "794"
},  {
    name: "学校",
    value: "792"
}, {
    name: "高配",
    value: "791"
}, {
    name: "战略",
    value: "791"
},  {
    name: "自主",
    value: "787"
}, {
    name: "金属",
    value: "786"
},  {
    name: "保证",
    value: "780"
}, {
    name: "谷歌",
    value: "778"
}, {
    name: "算法",
    value: "778"
}, {
    name: "良心",
    value: "771"
}, {
    name: "年轻人",
    value: "771"
}, {
    name: "评测",
    value: "771"
}, {
    name: "手感",
    value: "770"
}, {
    name: "功耗",
    value: "768"
}, {
    name: "资源",
    value: "768"
}, {
    name: "印度",
    value: "763"
}, {
    name: "背景",
    value: "761"
}, {
    name: "耳机",
    value: "758"
},  {
    name: "平板",
    value: "755"
}, {
    name: "高价",
    value: "754"
}, {
    name: "年轻",
    value: "752"
}, {
    name: "传统",
    value: "749"
}, {
    name: "欧洲",
    value: "747"
}, {
    name: "快充",
    value: "746"
}, {
    name: "蓝绿",
    value: "744"
}, {
    name: "支付",
    value: "730"
}, {
    name: "竞争力",
    value: "730"
}, {
    name: "位置",
    value: "728"
}, {
    name: "负责",
    value: "727"
}, {
    name: "股票",
    value: "725"
}, {
    name: "概念",
    value: "722"
}, {
    name: "界面",
    value: "720"
},{
    name: "粉丝",
    value: "716"
}, {
    name: "双摄",
    value: "714"
},{
    name: "正面",
    value: "712"
}, {
    name: "大学",
    value: "712"
}, {
    name: "国企",
    value: "710"
}, {
    name: "成熟",
    value: "709"
}, {
    name: "主题",
    value: "708"
}, {
    name: "上海",
    value: "700"
}, {
    name: "协议",
    value: "699"
},  {
    name: "组织",
    value: "693"
}, {
    name: "人生",
    value: "690"
}, {
    name: "牌子",
    value: "689"
},  {
    name: "菊花",
    value: "685"
}, {
    name: "下载",
    value: "684"
},  {
    name: "魅蓝",
    value: "681"
}, {
    name: "印象",
    value: "681"
}, {
    name: "出货量",
    value: "679"
}, {
    name: "屌丝",
    value: "677"
}, {
    name: "策略",
    value: "676"
},  {
    name: "女生",
    value: "675"
}, {
    name: "够用",
    value: "673"
}, {
    name: "旗舰机",
    value: "672"
}, {
    name: "日本",
    value: "672"
}, {
    name: "论坛",
    value: "668"
}, {
    name: "定制",
    value: "667"
}, {
    name: "状态",
    value: "664"
}, {
    name: "曲面",
    value: "664"
}, {
    name: "地位",
    value: "664"
}, {
    name: "消费",
    value: "663"
}, {
    name: "大厂",
    value: "663"
}, {
    name: "家庭",
    value: "663"
},  {
    name: "黑色",
    value: "661"
}, {
    name: "实习",
    value: "659"
},  {
    name: "抄袭",
    value: "658"
}, {
    name: "场景",
    value: "656"
}, {
    name: "风格",
    value: "656"
}, {
    name: "低配",
    value: "653"
}, {
    name: "积累",
    value: "653"
}, {
    name: "联发科",
    value: "652"
}, {
    name: "后台",
    value: "650"
}, {
    name: "流程",
    value: "649"
}, {
    name: "经理",
    value: "648"
}, {
    name: "按键",
    value: "647"
}, {
    name: "好用",
    value: "646"
}, {
    name: "耗电",
    value: "646"
}, {
    name: "知友",
    value: "645"
}, {
    name: "满意",
    value: "642"
}, {
    name: "领先",
    value: "642"
},{
    name: "历史",
    value: "640"
},  {
    name: "产品线",
    value: "638"
},{
    name: "口碑",
    value: "632"
},  {
    name: "拍摄",
    value: "628"
}, {
    name: "官网",
    value: "627"
}, {
    name: "期待",
    value: "627"
}, {
    name: "抢购",
    value: "627"
}, {
    name: "校招",
    value: "620"
}, {
    name: "通讯",
    value: "618"
}, {
    name: "综合",
    value: "616"
}, {
    name: "雷军",
    value: "614"
}, {
    name: "职业",
    value: "612"
}, {
    name: "投资",
    value: "608"
}, {
    name: "溢价",
    value: "604"
}, {
    name: "卡顿",
    value: "603"
}, {
    name: "吐槽",
    value: "602"
}, {
    name: "阶段",
    value: "602"
}, {
    name: "爱立信",
    value: "599"
});

option.series[0].data = JosnList;

</script>
</body>
</html>
